*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.publicBtn {
  border-radius: 5px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 3px;
  display: inline-box;
  margin-left: 5px;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  max-width: 80%;
  margin-inline: auto;
  margin-bottom: 5rem;
}

#username {
  border-radius: 10px;
  padding-left: 0.5rem;
}

#submit {
  border-radius: 5px;
  padding: 0.25rem;
  padding-inline: 0.5rem;
  cursor: pointer;
}

.grid-item {
  border: 1px solid black;
  padding: 1rem;
  height: 250px;
  background-color: rgb(231, 231, 231);
  color: rgb(36, 36, 36);
  border-radius: 20px;
  box-shadow: 0 4px 4px rgb(118, 118, 118);
}

a {
  color: rgb(32, 32, 32);
}

.profile {
  display: flex;
  margin-block: 2rem;
}

.profile-image {
  height: 4rem;
  margin-left: 1rem;
}

.search {
  margin-left: 2rem;
  margin-top: 2rem;
}

label {
  margin-right: 1rem;
}

body {
  background-color: rgb(39, 38, 38);
  color: rgb(188, 186, 186);
}
